{% extends "base.html.twig" %}

{% block page_title %}
    О проекте
{% endblock %}

{% block body %}

    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0"></h3>
                <p class=" m-b-30 font-14"><b>diffuse</b>river &mdash; это информационно-пользовательскя система оценки диффузной нагрузки на водотоки речных бассейнов.</p>

            </div>
        </div>
    </div>

{% endblock %}