{% extends "base.html.twig" %}

{% block page_title %}
    О проекте
{% endblock %}

{% block body %}

    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0"></h3>
                <p class="font-16"><b>diffuse</b>river &mdash; это информационно-пользовательская система оценки диффузной нагрузки на водотоки речных бассейнов.</p>
                <p class="font-16">Приложение разработано в рамках выпускной квалификационной работы магистра.</p>
                <p class="font-16">На май 2018 года работает начальная версия системы. Исходный код открыт для публичного доступа и расположен на <a target="_blank" href="https://github.com/dobrynin-andrey/diffuse-river">GitHub</a>.</p>

            </div>
        </div>
    </div>

{% endblock %}